.profilebutton {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%;
  justify-content: space-evenly;
  min-width: 30%;
}

.profilebutton a {
  text-decoration: none;
}

.profileheading {
  margin-top: 15rem;
  margin-bottom: -14rem;
}
