ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

li.buttons-2 {
  display: flex;
  justify-content: space-evenly;
}

.buttons-space {
  display: flex;
  justify-content: space-between;
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 4.5rem 3rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.8rem 1.2rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
