ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
}

li.buttons-2 {
  display: flex;
  justify-content: space-evenly;
}

.buttons-space {
  display: flex;
  justify-content: space-between;
}

.navBar {
  /* background: steelblue; */
  /* color: white; */
  margin-bottom: 2rem;
  padding: 4.5rem 3rem;
}

.navBar button {
  background: transparent;
  border: transparent;
  /* color: white; */
  padding: 1.7rem 1.2rem;
  height: 40px;
  width: 150px;
}

.navBar button:hover {
  /* background: white; */
  /* color: steelblue; */
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
