.profiletheme {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%;
  justify-content: space-evenly;
}

.profiletheme a {
  text-decoration: none;
}

.buttontheme {
  margin-top: 10rem;
}
