@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #fff9e6;
  --secondary-color: #d9ead3;
  --tertiary-color: #ead1dc;
  --success-color: #ffffff;
  --warning-color: #b4a7d6;
}

[data-theme="asap"] {
  --primary-color: #ffffff;
  --secondary-color: #fff269;
  --tertiary-color: #6fa8dc;
  --success-color: #e06666;
  --warning-color: #8e7cc3;
}

[data-theme="run2u"] {
  --primary-color: #ffffff;
  --secondary-color: #d5a6bd;
  --tertiary-color: #bcbcbc;
  --success-color: #cfe2f3;
  --warning-color: #8fce00;
}

.fixed-photo {
  background-image: url("/1.png");
  height: 490px;
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
  background-position: top center;
  z-index: -1;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

body {
  background-color: var(--primary-color);
}

.navBar {
  background-color: var(--success-color);
}

.navBar b {
  color: var(--secondary-color);
}

.navBar button {
  color: var(--tertiary-color);
  background-color: var(--tertiary-color);
}

.navBar button:hover {
  /* background: white; */
  color: var(--warning-color);
  cursor: pointer;
}
