@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.capstonebody[data-theme="Stereotype"] {
  --background-color: #dadee9;
  --text-color: #1da446;
  --navbar-color: #ffffff;
}

.capstonebody[data-theme="ASAP"] {
  --background-color: #fff269;
  --text-color: #6fa8dc;
  --navbar-color: #e06666;
}

.capstonebody[data-theme="We Need Love"] {
  --background-color: #d9ebe5;
  --text-color: #d2463c;
  --navbar-color: #ef7bad;
}

.fixed-photo {
  background-image: url("/1.png");
  height: 490px;
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
  background-position: top center;
  z-index: 1;
  opacity: 0.3;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: inherit;
  max-width: 126px;
  padding: 0.5rem 0.5rem;
  font-weight: 550;
  width: 10rem;
}

/* .filled-search.searchbar {
  border-color: var(--text-color);
  border-width: 2px;
} */

button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  overflow: auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.capstonebody {
  background-color: var(--background-color);
  min-height: 100vh;
}

.navBar {
  background-color: var(--navbar-color);
}

.navBar b {
  color: var(--text-color);
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.navBar button {
  color: var(--text-color);
  background-color: var(--text-color);
}

.navBar button:hover {
  /* background: white; */
  color: var(--text-color);
  cursor: pointer;
}
