.stayc-img {
  border: 2px solid #e95fff;
  width: 30%;
  border-radius: 20px;
}

.versions {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20%;
  gap: 30px;
}

.versionheading {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 12rem;
}

.versionheading2 {
  padding-top: 5%;
  padding-bottom: 5%;
}
